@import './base/reset';
@import './utils/variebles';
@import './utils/placeholders';
@import './utils/mixins';
@import './utils/functions';
@import './common';
@import './components/header';
@import './pages/main/hero';
@import './components/footer';
@import './pages/main/category';
@import './pages/main/destinations';
@import './pages/main/testimonals';
@import './pages/main/partners';
@import './pages/main/_subscride';