.category {
  &__container {
    max-width: 420px;

    padding-top: 18px;
    padding-bottom: 194px;

    color: $primary-text-color;
    text-align: center;   
  }
  &__desk{
    margin-bottom: 24px;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
  }

  &__tittle{
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3; 
    color: #14183E;

    margin-bottom: 13px;
  }

  &__btn{
    background-color: transparent;
    color: $second-text-color;
    font-size: 20px;
    line-height: 2.25;
    text-align: center;
    letter-spacing: 0.2px;

    border: transparent;
    padding: 0;
  }
}

.category-list{
  display: flex;
  flex-direction: column;
  gap: 37px;
  align-items: center;
  &__item:nth-child(3), &__item:nth-child(4){
    display: none;
  }
  &__item:nth-child(1) &__img{
    width: 94px;
    height: 79px;
    margin-bottom: 30px;
  }
  &__item:nth-child(2) &__img{
    width: 130px;
    height: 107px;
    margin-bottom: 20px;
  }
  &__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    color: $text-heading-color;

    margin-bottom: 15px;
  }
  &__text{
    font-weight: 500;
    line-height: 1.6;
    width: 185px;
    margin: 0 auto;
  }
}

.category-active{
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 36px;
  padding-bottom: 45px;
  padding-top: 25px;
  width: 273px;
  position: relative;
  background-color: #FFFFFF;
}

.category-active::before{
  content: "";

  width: 102px;
  height: 101px;

  position: absolute;
  bottom: -33px;
  left: -36px;
  z-index: -1;

  background: #DF6951;
  border-radius: 30px 0px 10px;
}