.hero {
  padding-top: 74px;
  padding-bottom: 92px;
  @media screen and (min-width: 768px) {
    padding-top: 217px;
    padding-bottom: 214px;
    background-image: url(../../../img/hero-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
  }
  &__container {
    position: relative;
  }
  &__text-wrap {
    @media screen and (min-width: 768px) {
      width: 589px;
      margin-right: auto;
    }
  }
  &__desc {
    margin-bottom: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: $acent-color;
    @media screen and (max-width: 767.98px) {
      display: none;
    }
  }
  &__title {
    margin-bottom: 19px;
    padding-left: 45px;
    font-family: "Volkhov", serif;
    @include responsive(font-size, 48, 84, 414, 1200);
    font-weight: 700;
    line-height: 89px;
    color: #181e4b;
    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      padding-left: 0;
    }
    @media screen and (min-width: 1200px) {
      font-size: 84px;
    }
  }

  &__subtitle {
    margin-bottom: 34px;
    line-height: 1.875;
    @media screen and (max-width: 767.98px) {
      display: none;
    }
  }
  &__buttons-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    &::after{
      content: '';
      position: absolute;
      width: 114px;
      height: 156px;
      top: -24px;
      right: -8px;
      background-image: url('../../../img/hero-mob-plus.png');
      background-repeat: no-repeat;
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 45px;
    }
  }

  &__btn-more {
    width: 172px;
    height: 62px;
    background-color: #f1a501;
    border-radius: 10px;
    border-color: transparent;
    font-family: "Product Sans", sans-serif;
    font-size: 18px;
    line-height: 1.275;
    color: #ffffff;
  }
  &__btn-demo {
    display: inline-flex;
    align-items: center;
    &-icon-wrap {
      position: relative;
      display: inline-block;
      width: 52px;
      height: 52px;
      margin-right: 21px;
      background-color: $acent-color;
      border-radius: 50%;
      box-shadow: 0px 15px 30px 0px #df69514d;
    }
    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-35%, -40%);
      width: 15px;
      height: 15px;
    }
  }
  &__img-thumb {
    position: absolute;
    top: -110px;
    right: 0;
    @media screen and (max-width: 1100px) {
      display: none;
    }
    img {
      width: 784px;
      height: 764px;
    }
  }
}
